@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "vanilla-cookieconsent/dist/cookieconsent.css";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* @keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade {
  animation: fade 0.5s ease-in-out;
} */
